<h1 class='header'>Nasa Mission Log</h1>

<<<<<<< HEAD
=======

>>>>>>> ea57c40d77a78d6b85fde80104fe114405328a70
<table border="1">
<img src="http://upload.wikimedia.org/wikipedia/commons/2/25/Nasa-logo.gif" width="200" />

<table>
  <tr>
  <th>Mission</th>
  <th>Target</th>
  <th>Vehicle</th>
  <th>Launch Date</th>
</tr>
<% @missions.each do |mission| %>
<tr>
  <td><a href="missions/<%= mission.id %>"><%= mission.title %></a></td>
  <td><%= mission.target %></td>
  <td><%= mission.vehicle_name %></td>
  <td><%= mission.launch_date %></td>
</tr>
<% end %>
</table>

