<h1>Nasa Mission Log</h1>


<table border="1">
  <tr>
  <th>Mission</th>
  <th>Target</th>
  <th>Vehicle</th>
  <th>Launch Date</th>
</tr>
<% @missions.each do |mission| %>
<tr>
  <th><a href="mission/<%= mission.id %>"><%= mission.title %></a></th>
  <th><%= mission.target %></th>
  <th><%= mission.vehicle %></th>
  <th><%= mission.launch_date %></th>
</tr>
</table>
