<h1>Nasa Mission Log</h1>

<!-- MIKE'S FIXES~~~~~~~~~~~~~~~~~~ -->
<table border="1">
  <tr>
  <th>Mission</th>
  <th>Target</th>
  <th>Vehicle</th>
  <th>Launch Date</th>
</tr>
<% @missions.each do |mission| %>
<tr>
  <td><a href="missions/<%= mission.id %>"><%= mission.title %></a></td>
  <td><%= mission.target %></td>
  <td><%= mission.vehicle_name %></td>
  <td><%= mission.launch_date %></td>
</tr>
<% end %>
</table>
<!-- MIKE'S FIXES~~~~~~~~~~~~~~~~~~ -->

