<h1>New Mission</h1>

<%= form_for @mission do |f| %>
  
  <%= f.label :title %>
  <%= f.text_field :title %> </br>

  <%= f.label :target %>
  <%= f.text_field :target %> </br>

  <%= f.label :launch_date %>
  <%= select_month(Date.today, {}, name: 'launch[month') %>
  <%= select_day(Date.today, {}, name: 'launch[day') %>
  <%= select_year(Date.today, {}, name: 'launch[year') %> </br>

  <%= f.label :vehicle_name %>
  <%= f.text_field :vehicle_name %> </br>
  
  <%= f.submit :submit %>
<% end %>
